<h1>Themes#index</h1>
<p>Find me in app/views/themes/index.html.erb</p>

<% @themes.each do |t| %>
  <%= link_to theme_path(t) do %>
    <ul>
      <li> <%= t.name %> </li>
    </ul>
  <% end %>
<% end %>
